<!-- templates/about.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<header>
    <a href="{% url 'home' %}" target="_blank">Django blog</a>
    <a href="{% url 'about' %}" target="_blank">About</a>
    <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
</header>
<body>
<header>
    <h1><a href="{% url 'home' %}" target="_blank">Django blog</a></h1>
</header>
<div>
    {% block content %}{% endblock content %}
</div>
</body>
</html>